<h2>Express Yourself RIGHT with BB Code</h2>
<p>Use the code below to express yourself through your Forum Posts.</p>
[b]bolded text[/b] 	<b>bolded text</b><br />
[i]italicized text[/i] 	<i>italicized text</i> <br />
[u]underlined text[/u] 	<span style="text-decoration: underline;">underlined text</span> <br />
[url]http://wikipedia.org[/url] 	<a href="http://wikipedia.org">http://wikipedia.org</a> <br />
[url=http://wikipedia.org]Wikipedia[/url] 	<a href="http://wikipedia.org">Wikipedia</a><br />
[color=red]Red Text[/color]
	<span style="color:#FF0000">Red Text</span><br />
[img]http://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Wikipedia-logo.png/150px-Wikipedia-logo.png[/img]  <img src="http://upload.wikimedia.org/wikipedia/ commons/thumb/6/63/Wikipedia-logo.png/ 150px-Wikipedia-logo.png" alt="">
