<h1>New category</h1>

<%= error_messages_for :category %>

<% form_for([:admin, @category]) do |f| %>
<p class="label"><label for="category_name">Name</label></p>
 <p><%= f.text_field :name, :style => 'width:66%;' %></p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_categories_path %>
